Source: odt2txt
Section: text
Priority: optional
Maintainer: Nelson A. de Oliveira <naoliv@debian.org>
Build-Depends: cdbs, debhelper (>= 7), zlib1g-dev
Standards-Version: 3.8.0
Homepage: http://stosberg.net/odt2txt/

Package: odt2txt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: sxw2txt
Description: simple converter from OpenDocument Text to plain text
 odt2txt extracts the text out of OpenDocument Texts (.odt) or OpenOffice.org
 XML Files (.sxw, for example), as produced by OpenOffice.org, KOffice,
 StarOffice and others.
 It is small and fast, can output the document in many encodings and
 adopts to your locale.
