#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

DEB_MAKE_INSTALL_TARGET := install DESTDIR=$(CURDIR)/debian/odt2txt prefix=/usr
DEB_MAKE_ENVVARS := HAVE_LIBZIP="true"
CFLAGS += -DHAVE_LIBZIP

binary-install/odt2txt::
	cd $(CURDIR)/debian/odt2txt/usr/bin && mv odt2txt odt2txt.odt2txt
	cd $(CURDIR)/debian/odt2txt/usr/share/man/man1 && mv odt2txt.1 odt2txt.odt2txt.1
